@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-primary: #282a32;
  --text-secondary: #686b87;
  --text-action: #404089;
  --accent-primary: #434ce8;
  --border-primary: #eff1f6;
  --background-primary: #ffffff;
  --background-secondary: #fdfcff;
  --background-tertiary: #ecf3fe;
  --background-quaternary: #e9ecf4;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color:  #fdfcff;
  color:  #282a32;
}

img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 0;
}

.responsive-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #eff1f6;
  background-color: #ffffff;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content>a {
  display: none;
}

@media (max-width: 1200px) {
  .header-content {
    justify-content: space-between;
  }

  a {
    display: inline-flex;
  }
}

.header-logo {
  margin-right: 2.5rem;
}

.header-logo>a {
  display: flex;
  align-items: center;
}

.header-logo>a>div {
  flex-shrink: 0;
  position: relative;
}

.header-logo>a>div::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 50%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgba(#fff, 0.2);
  backdrop-filter: blur(4px);
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .header-navigation {
    display: none;
  }
}

.header-navigation-links {
  display: flex;
  align-items: center;
}

.header-navigation-links>a {
  text-decoration: none;
  color:  #404089;
  font-weight: 500;
  transition: 0.15s ease;
  margin-left: 1.5rem;
}

.header-navigation-links>a:hover,
.header-navigation-links>a:focus {
  color:  #434ce8;
}

.header-navigation-actions {
  display: flex;
  align-items: center;
}

.header-navigation-actions>.avatar {
  margin-left: 0.75rem;
}

.header-navigation-actions>.button,
.header-navigation-actions>.icon-button {
  margin-left: 1rem;
}

.button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  height: 40px;
  border-radius: 8px;
  line-height: 1;
  border: 2px solid #eff1f6;
  color:  #404089;
  font-size: 0.875rem;
  transition: 0.15s ease;
  background-color: #ffffff;
}

.button>i {
  margin-right: 0.5rem;
  font-size: 1.25em;
}

.button>span {
  font-weight: 500;
}

.button:hover,
.button:focus {
  border-color:  #434ce8;
  color:  #434ce8;
}

.icon-button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  color:  #404089;
  transition: 0.15s ease;
}

.icon-button>i {
  font-size: 1.25em;
}

.icon-button:focus,
.icon-button:hover {
  background-color: #ecf3fe;
  color:  #434ce8;
}

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.main {
  padding-top: 3rem;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-header>h1 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.25;
}

@media (max-width: 550px) {
  .main-header>h1 {
    margin-bottom: 1rem;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 340px;
}

.search>input {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 0 36px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid  #eff1f6;;
  color:  #404089;
  font-size: 0.875rem;
  transition: 0.15s ease;
  width: 100%;
  line-height: 1;
}

.search>input::placeholder {
  color:  #404089;
}

.search>input:focus,
.search>input:hover {
  border-color:  #434ce8;
}

.search>button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: transparent;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25em;
  color:  #404089;
  padding: 0;
  height: 40px;
}

.horizontal-tabs {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

@media (max-width: 1000px) {
  .horizontal-tabs {
    scrollbar-width: none;
    position: relative;
  }

  .horizontal-tabs::-webkit-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.horizontal-tabs>a {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  height: 48px;
  padding: 0 0.25rem;
  font-weight: 500;
  color: inherit;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  transition: 0.15s ease;
  margin-left: 1rem;
}

.horizontal-tabs>a:hover,
.horizontal-tabs>a:focus,
.horizontal-tabs>a .active {
  color:  #434ce8;
  border-bottom-color:  #434ce8;
}

.content-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  margin-top: -1px;
  border-top: 1px solid #eff1f6;
}

.content-header-intro>h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.content-header-intro>p {
  color:  #686b87;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .content-header-actions>a:first-child {
    display: none;
  }
}

.content {
  border-top: 1px solid #eff1f6;
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
}

.content-panel {
  display: none;
  max-width: 280px;
  width: 25%;
  padding: 2rem 1rem 2rem 0;
  margin-right: 3rem;
}

@media (min-width: 800px) {
  .content-panel {
    display: block;
  }
}

.vertical-tabs {
  display: flex;
  flex-direction: column;
}

.vertical-tabs>a {
  display: flex;
  align-items: center;
  padding: 0.75em 1em;
  background-color: transparent;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  color:  #404089;
  transition: 0.15s ease;
  margin-top: 0.25rem;
}

.vertical-tabs>a:hover,
.vertical-tabs>a:focus,
.vertical-tabs>a.active {
  background-color: #ecf3fe;
  color:  #434ce8;
}

.content-main {
  padding-top: 2rem;
  padding-bottom: 6rem;
  flex-grow: 1;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

@media (min-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(#000, 0.05), 0 5px 15px 0 rgba(#000, 0.05);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 1.25rem 1rem 1.25rem;
}

.card-header>div {
  display: flex;
  align-items: center;
}

.card-header>div>span {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card-header>div>span>img {
  /* max-width: 85%; */
  max-height: 100%;
}

.card-header>div>h3 {
  margin-left: 0.75rem;
  font-weight: 500;
}

.toggle>span {
  display: block;
  width: 40px;
  height: 24px;
  border-radius: 99em;
  background-color: #e9ecf4;
  box-shadow: inset 1px 1px 1px 0 rgba(#000, 0.05);
  position: relative;
  transition: 0.15s ease;
}

.toggle>span::before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(#000, 0.15);
  transition: 0.15s ease;
}

.toggle > input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.toggle > input:checked + span {
  background-color:  #434ce8;}
  .toggle > input:checked + span:before {
    transform: translateX(calc(100% - 2px));
  }

  .card-body {
    padding: 1rem 1.25rem;
    font-size: 0.875rem;
  }

  .card-footer {
    margin-top: auto;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #eff1f6;
  }

  .card-footer > a {
		color:  #404089;
		text-decoration: none;
		font-weight: 500;
		font-size: 0.875rem;
	}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-thumb {
  background-color:   #282a32;
  border: 4px solid #ffffff;
  border-radius: 99em;
}
