<header class="header">
	<div class="header-content responsive-wrapper">
		<div class="header-logo">
			<a routerLink="">
				<div>
					<img src="https://assets.codepen.io/285131/untitled-ui-icon.svg" />
				</div>
				<img src="https://assets.codepen.io/285131/untitled-ui.svg" />
			</a>
		</div>
		<div class="header-navigation">
			<nav class="header-navigation-links">
				<a routerLink="/MainModule/home"> Home </a>
				<a routerLink="./dash-board"> Dashboard </a>
				<a routerLink="./products"> Products </a>
				<a routerLink=""> Tasks </a>
				<a routerLink=""> Users </a>
				<a routerLink="./settings"> Settings </a>
			</nav>
			<div class="header-navigation-actions">
				<a routerLink="" class="button">
					<i class="ph-lightning-bold"></i>
					<span>Upgrade now</span>
				</a>
				<a routerLink="" class="icon-button">
					<i class="ph-gear-bold"></i>
				</a>
				<a routerLink="" class="icon-button">
					<i class="ph-bell-bold"></i>
				</a>
				<a routerLink="" class="avatar">
					<img src="https://uifaces.co/our-content/donated/gPZwCbdS.jpg" alt="" />
				</a>
			</div>
		</div>
		<a class="button">
			<i class="fa-solid fa-bars"></i>
			<span>Menu</span>
		</a>
	</div>
</header>

<router-outlet></router-outlet>
